# dclint disable service-image-require-explicit-tag
# explicit tags of `autoheal` are multiple years old

# Certbot setup inspired by
# https://github.com/wmnnd/nginx-certbot/blob/master/docker-compose.yaml
# and
# https://pentacent.medium.com/nginx-and-lets-encrypt-with-docker-in-less-than-5-minutes-b4b8a60d3a71
# See also
# https://certbot.eff.org/docs/install.html#running-with-docker

# Telemetry (logs and metrics) setup inspired by
# https://github.com/VictoriaMetrics/VictoriaLogs/blob/master/deployment/docker/compose-vl-single.yaml
# https://github.com/VictoriaMetrics/VictoriaLogs/blob/master/deployment/docker/victorialogs/compose-base.yaml
# https://github.com/VictoriaMetrics/VictoriaLogs/blob/master/deployment/docker/victorialogs/vector/compose-base.yaml

name: "${NAME}"

services:
  # Monitor and restart unhealthy docker containers
  # https://github.com/willfarrell/docker-autoheal
  autoheal:
    image: "willfarrell/autoheal:latest"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      AUTOHEAL_CONTAINER_LABEL: "autoheal"
      AUTOHEAL_START_PERIOD: "120"
      AUTOHEAL_DEFAULT_STOP_TIMEOUT: "60"
      AUTOHEAL_ONLY_MONITOR_RUNNING: "true"
    network_mode: "none"
    restart: "always"
    deploy:
      replicas: 1

  # https://hub.docker.com/_/nginx
  reverse_proxy:
    image: "nginx:1.29-trixie-otel"
    volumes:
      - ./nginx/.htpasswd:/etc/apache2/.htpasswd:ro
      - ./nginx/templates:/etc/nginx/templates:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/html:/etc/nginx/html:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    environment:
      HOST: "${HOST:?required}"
      PRODUCTION_SUBDOMAIN: "${PRODUCTION_SUBDOMAIN:?required}"
      STAGING_SUBDOMAIN: "${STAGING_SUBDOMAIN:?required}"
      TELEMETRY_SUBDOMAIN: "${TELEMETRY_SUBDOMAIN:?required}"
      PRODUCTION_HTTP_PORT: "${PRODUCTION_HTTP_PORT:?required}"
      STAGING_HTTP_PORT: "${STAGING_HTTP_PORT:?required}"
      MONITOR_HTTP_PORT: "${MONITOR_HTTP_PORT:?required}"
      LOGS_HTTP_PORT: "${LOGS_HTTP_PORT:?required}"
      METRICS_HTTP_PORT: "${METRICS_HTTP_PORT:?required}"
    ports:
      - "0.0.0.0:${HTTP_PORT:?required}:80"
      - "0.0.0.0:${HTTPS_PORT:?required}:443"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: [ "nginx", "-g", "daemon off;" ]
    restart: "always"
    healthcheck:
      test: [ "CMD-SHELL", "service nginx status || exit 1" ]
      interval: "5s"
      timeout: "5s"
      retries: "5"
    labels:
      autoheal: "true"

  # # Grafana instance configured with VictoriaLogs as datasource
  # # https://github.com/VictoriaMetrics/VictoriaLogs/blob/master/deployment/docker/compose-vl-single.yaml
  # grafana:
  #   image: grafana/grafana:12.3.1
  #   depends_on:
  #     - "victoriametrics"
  #     - "victorialogs"
  #   ports:
  #     - 3000:3000
  #   volumes:
  #     - grafanadata:/var/lib/grafana
  #     - ./provisioning/datasources/victoriametrics-logs-datasource/single.yaml:/etc/grafana/provisioning/datasources/single.yaml
  #     - ./provisioning/dashboards:/etc/grafana/provisioning/dashboards
  #     - ./../../dashboards/victorialogs.json:/var/lib/grafana/dashboards/victorialogs.json
  #     - ./../../dashboards/victorialogs-internal.json:/var/lib/grafana/dashboards/victorialogs-internal.json
  #   environment:
  #     - "GF_INSTALL_PLUGINS=victoriametrics-logs-datasource"
  #   restart: always
  #   labels:
  #     autoheal: "true"

  # https://hub.docker.com/r/victoriametrics/victoria-logs
  logs:
    image: "victoriametrics/victoria-logs:v1.44.0"
    volumes:
      - logs:/storage
    ports:
      - "0.0.0.0:${LOGS_HTTP_PORT}:9428"
    command:
      - "-storageDataPath=/storage"
      - "-loggerFormat=json"
      - "-retentionPeriod=7d"
      # - -journald.streamFields=_HOSTNAME,_SYSTEMD_UNIT,_PID
      # - -journald.ignoreFields=MESSAGE_ID,INVOCATION_ID,USER_INVOCATION_ID
      # - -journald.ignoreFields=_BOOT_ID,_MACHINE_ID,_SYSTEMD_INVOCATION_ID,_STREAM_ID,_UID
    restart: "always"
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://127.0.0.1:9428/health" ]
      interval: "1s"
      timeout: "1s"
      retries: "10"
    labels:
      autoheal: "true"

  # https://hub.docker.com/r/victoriametrics/victoria-metrics
  metrics:
    image: "victoriametrics/victoria-metrics:v1.135.0"
    volumes:
      - metrics:/storage
    ports:
      - "0.0.0.0:${METRICS_HTTP_PORT}:8428"
    command:
      - "-storageDataPath=/storage"
      - "-loggerFormat=json"
      - "-retentionPeriod=7d"
    restart: "always"
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://127.0.0.1:8428/health" ]
      interval: "1s"
      timeout: "1s"
      retries: "10"
    labels:
      autoheal: "true"

  # Fetch TLS certificates from Let's Encrypt
  # https://hub.docker.com/r/certbot/certbot
  certbot:
    image: "certbot/certbot:v3.3.0"
    volumes:
      - ./certbot/conf:/etc/letsencrypt # --config-dir
      - ./certbot/letsencrypt:/var/lib/letsencrypt # --work-dir
      - ./certbot/logs:/var/log/letsencrypt # --logs-dir
      - ./certbot/www:/var/www/certbot # --webroot-path
    profiles:
      - manual

volumes:
  logs:
  metrics:
