# Certbot setup inspired by
# https://github.com/wmnnd/nginx-certbot/blob/master/docker-compose.yml
# and
# https://pentacent.medium.com/nginx-and-lets-encrypt-with-docker-in-less-than-5-minutes-b4b8a60d3a71
# See also
# https://certbot.eff.org/docs/install.html#running-with-docker

name: "machine"

services:
  reverse_proxy:
    image: "nginx:1.29-trixie-otel"
    volumes:
      - ./nginx/.htpasswd:/etc/apache2/.htpasswd:ro
      - ./nginx/templates:/etc/nginx/templates:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    environment:
      HOST: "${HOST:?required}"
      PRODUCTION_SUBDOMAIN: "${PRODUCTION_SUBDOMAIN:?required}"
      STAGING_SUBDOMAIN: "${STAGING_SUBDOMAIN:?required}"
      TELEMETRY_SUBDOMAIN: "${TELEMETRY_SUBDOMAIN:?required}"
      PRODUCTION_HTTP_PORT: "${PRODUCTION_HTTP_PORT:?required}"
      STAGING_HTTP_PORT: "${STAGING_HTTP_PORT:?required}"
      TELEMETRY_HTTP_PORT: "${TELEMETRY_HTTP_PORT:?required}"
    ports:
      - "0.0.0.0:${HTTP_PORT:?required}:80"
      - "0.0.0.0:${HTTPS_PORT:?required}:443"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: [ "nginx", "-g", "daemon off;" ]
    restart: "always"
    healthcheck:
      test: [ "CMD-SHELL", "service nginx status || exit 1" ]
      interval: "30s"
      timeout: "30s"
      retries: "3"

  # Fetch TLS certificates from Let's Encrypt
  certbot:
    image: "certbot/certbot:v3.3.0"
    volumes:
      - ./certbot/conf:/etc/letsencrypt # --config-dir
      - ./certbot/letsencrypt:/var/lib/letsencrypt # --work-dir
      - ./certbot/logs:/var/log/letsencrypt # --logs-dir
      - ./certbot/www:/var/www/certbot # --webroot-path

  # Test for example `make setup` within `make machine`
  machine:
    build:
      context: "."
      dockerfile: "./Dockerfile"
    volumes:
      - .:/app
    environment:
      TELEMETRY_DATA_HOST: "host.docker.internal"
    extra_hosts:
      - "host.docker.internal:host-gateway"
