# {{ ansible_managed }}
# /etc/monit/monitrc

# Inspired by https://mmonit.com/wiki/Monit/ConfigurationExamples

set daemon 60
    with start delay 60

set log /var/log/monit.log
set pidfile /var/run/monit.pid
set statefile /var/lib/monit/monit.state

# Configure email alerts
set mailserver {{ SMTP_HOST }} port {{ SMTP_PORT }}
set alert {{ EMAIL_ADDRESS }}

# Test email alerts
# Inspired by https://serverfault.com/questions/328657/sending-a-test-example-alert-from-monit/328672#328672
# ```
# check file alerttest with path /.nonexistent
#     if does not exist then alert with reminder on 500 cycles
# ```
# Not necessary according to
# https://serverfault.com/questions/328657/sending-a-test-example-alert-from-monit/656190#656190

# [Global SSL Options](https://mmonit.com/monit/documentation/monit.html#SSL-OPTIONS)
set ssl options {
    verify: enable
    selfsigned: reject
}

# [Monit HTTPD](https://mmonit.com/monit/documentation/monit.html#MONIT-HTTPD)
set httpd
    port 2812
    use address 127.0.0.1
    unixsocket /var/run/monit.socket
    allow localhost
    allow monit:{{ MONIT_PASSWORD }}

#----------------------------------------------------------------------------
# System
#----------------------------------------------------------------------------

check system {{ NON_WWW_PRODUCTION_HOST }}-system
    if loadavg (5min) > 3 then alert
    if loadavg (15min) > 1 then alert
    if memory usage > 80% for 4 cycles then alert
    if swap usage > 20% for 4 cycles then alert
    # Test the user part of CPU usage
    if cpu usage (user) > 80% for 3 cycles then alert
    # Test the system part of CPU usage
    if cpu usage (system) > 20% for 3 cycles then alert
    # Test the i/o wait part of CPU usage
    if cpu usage (wait) > 80% for 3 cycles then alert
    # Test CPU usage including user, system and wait. Note that multi-core
    # systems can generate 100% per core so total CPU usage can be more than
    # 100%
    if cpu usage > 80% for 4 cycles then alert

check filesystem data with path /app/data/
    if space usage > 95% then alert
    if service time > 300 milliseconds for 5 cycles then alert

# List interfaces with `make network-interfaces`
check network {{ NETWORK_INTERFACE }}-network with interface {{ NETWORK_INTERFACE }}
    if failed link then alert
    if changed link then alert
    if saturation > 80% then alert
    if total upload > 10 GB in last hour then alert

#----------------------------------------------------------------------------
# Processes
#----------------------------------------------------------------------------

check process sshd with pidfile /var/run/sshd.pid
    start program "/usr/bin/systemctl start sshd"
    restart program "/usr/bin/systemctl restart sshd"
    stop program "/usr/bin/systemctl stop sshd"
    if failed port 22 protocol ssh then restart
    if 5 restarts within 5 cycles then alert

#----------------------------------------------------------------------------
# Security
#----------------------------------------------------------------------------

check directory certificates with path /etc/ssl/certs/
    if changed timestamp then alert

check directory ssh with path /app/.ssh/
    if changed timestamp then alert
    if failed uid cloud then alert
    if failed gid cloud then alert
    if failed permission 700 then alert

check file authorized_keys with path /app/.ssh/authorized_keys
    if failed checksum then alert
    if changed timestamp then alert
    if failed uid cloud then alert
    if failed gid cloud then alert
    if failed permission 600 then alert

check directory certbot with path /app/machine/certbot/
    if changed timestamp then alert

check file htpasswd with path /app/machine/nginx/.htpasswd
    if failed checksum then alert
    if changed timestamp then alert
    if failed uid root then alert
    if failed gid root then alert
    if failed permission 600 then alert

#----------------------------------------------------------------------------
# Docker
#----------------------------------------------------------------------------

# [Check whether Docker is running](https://docs.docker.com/engine/daemon/troubleshoot/#check-whether-docker-is-running)
check program docker with path "/usr/bin/systemctl --quiet is-active docker"
    if status != 0 then alert

check program docker_healthcheck with path /app/machine/monit_docker_healthcheck.sh
    if status != 0 for 3 cycles then alert

#----------------------------------------------------------------------------
# Hosts
#----------------------------------------------------------------------------

check host {{ NON_WWW_PRODUCTION_HOST }}-host with address {{ NON_WWW_PRODUCTION_HOST }}
    if failed
        port 22
        with protocol ssh
        for 3 cycles
    then alert

{% for host in [PRODUCTION_HOST, STAGING_HOST] %}

    #---- {{ host }} ----#

    check host {{ host }}-host with address {{ host }}
        if failed
            port 80
            with protocol http
            for 3 cycles
        then alert
        if failed
            port 443
            with protocol https
            and certificate valid > 7 days
            use ssl
            for 3 cycles
        then alert

{% endfor %}

#----------------------------------------------------------------------------
# Environments
#----------------------------------------------------------------------------

{% for environment in ['production', 'staging'] %}

    #---- {{ environment }} ----#

    check file {{ environment }}-dotenv with path /app/{{ environment }}/.env
        if failed checksum then alert
        if changed timestamp then alert
        if failed uid cloud then alert
        if failed gid cloud then alert
        if failed permission 600 then alert

    check directory {{ environment }}-secrets with path /app/{{ environment }}/secrets/
        if changed timestamp then alert

    check file {{ environment }}-postgres_passwords with path /app/{{ environment }}/secrets/postgres_passwords
        if failed checksum then alert
        if changed timestamp then alert
        if failed uid cloud then alert
        if failed gid cloud then alert
        if failed permission 600 then alert

    check file {{ environment }}-postgres_password with path /app/{{ environment }}/secrets/postgres_password
        if failed checksum then alert
        if changed timestamp then alert
        if failed uid cloud then alert
        if failed gid cloud then alert
        if failed permission 644 then alert

{% endfor %}
