# {{ ansible_managed }}
# /etc/msmtprc or ~/.msmtprc

# -------------------------

defaults

syslog on
aliases /etc/aliases

# -------------------------

account default

auth off
tls off
host {{ smtp_host }}
port {{ smtp_port }}
from {{ from_email_address }}
