# {{ ansible_managed }}
# /etc/msmtprc or ~/.msmtprc

account default

auth off
tls off
host {{ SMTP_HOST }}
port {{ SMTP_PORT }}
from {{ FROM_EMAIL_ADDRESS }}
logfile {{ MSMTP_LOGFILE }}

aliases /etc/aliases
