receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  hostmetrics:
    collection_interval: 30s
    scrapers:
      cpu: {}
      disk: {}
      load: {}
      filesystem: {}
      memory: {}
      network: {}
      paging: {}
      process:
        mute_process_name_error: true
        mute_process_exe_error: true
        mute_process_io_error: true
      processes: {}
  journald:
    directory: /var/log/journal
    start_at: end
    priority: info
  # prometheus:
  #   config:
  #     global:
  #       scrape_interval: 30s
  #     scrape_configs:
  #       - job_name: otel-collector-binary
  #         static_configs:
  #           - targets: ['localhost:8888']

processors:
  batch:
    send_batch_size: 1000
    timeout: 10s
  resourcedetection:
    detectors: [system]
    timeout: 2s
    system:
      hostname_sources: [dns, os] # set FQDN as host.name and os as fallback

extensions:
  health_check: {}
  # zpages: {}

exporters:
  otlp:
    endpoint: localhost:4317
    tls:
      insecure: true
  debug:
    verbosity: detailed

service:
  telemetry:
    metrics:
  extensions: [health_check] # zpages
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]
    metrics/internal:
      receivers: [hostmetrics] # prometheus
      processors: [resourcedetection, batch]
      exporters: [otlp]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]
    logs:
      receivers: [otlp, journald]
      processors: [batch]
      exporters: [otlp]
