# To see more examples, please see
# /usr/share/doc/sshguard/examples/whitelistfile.example

# address blocks in Classless Inter-Domain Routing (CIDR) notation
127.0.0.0/8
::1/128

# hostnames
{{ host }}
