api:
  # address: 0.0.0.0:PIPELINES_HTTP_PORT
  enabled: false
  graphql: true
  playground: true

sources:
  journald:
    type: journald
    exclude_units:
      - docker.service

  docker_logs:
    type: docker_logs
    # exclude_containers:
    #   - database_production-backend
    #   - database_staging-backend

  vector_logs:
    type: internal_logs

  opentelemetry:
    type: opentelemetry
    grpc:
      address: 0.0.0.0:{{ TELEMETRY_GPRC_PORT }}
    http:
      address: 0.0.0.0:{{ TELEMETRY_HTTP_PORT }}

  host_metrics:
    type: host_metrics
    filesystem:
      mountpoints:
        excludes:
          - /run/docker/*
          - /home/cloud/data
          - /home/cloud/data/*

  vector_metrics:
    type: internal_metrics

  # postgresql_metrics
  #   type: postgresql_metrics
  #   endpoints:
  #     - postgresql://postgres:vector@localhost:5432/postgres

  # nginx_metrics:
  #   type: nginx_metrics
  #   endpoints:
  #     - http://localhost:8000/basic_status

transforms:
  filtered_docker_logs:
    type: filter
    inputs:
      - docker_logs
    condition: |
      # Exclude if container name matches the regex pattern
      # The field `container_name` is added by the `docker_logs` source
      !match(string!(.container_name), r'^[a-zA-Z0-9_]+-backend-[0-9]+$')

sinks:
  logs:
    inputs:
      - journald
      - filtered_docker_logs
      - vector_logs
      - opentelemetry.logs
    type: elasticsearch
    endpoints: [http://localhost:{{ LOGS_HTTP_PORT }}/insert/elasticsearch/]
    mode: bulk
    api_version: v8
    compression: gzip
    healthcheck:
      enabled: false
    query:
      # https://docs.victoriametrics.com/victorialogs/keyconcepts/#message-field
      # https://manpages.ubuntu.com/manpages/focal//man7/systemd.journal-fields.7.html
      # https://vector.dev/docs/reference/configuration/sources/docker_logs/#output-logs
      # https://vector.dev/docs/reference/configuration/sources/internal_logs/#output-logs
      # ... journald ... | . * ..
      _msg_field: MESSAGE,message
      #            .. journald ... | .. * ...
      _time_field: SYSLOG_TIMESTAMP,timestamp
      #               ......... journald ......... | ..... * ...... | docker_logs  | ............. opentelemetry ................
      _stream_fields: _HOSTNAME,_COMM,_SYSTEMD_UNIT,host,source_type,container_name,resources.service.name,attributes.Environment

  metrics:
    inputs:
      - host_metrics
      - vector_metrics
      - opentelemetry.metrics
    type: prometheus_remote_write
    endpoint: http://localhost:{{ METRICS_HTTP_PORT }}/api/v1/write
    healthcheck:
      enabled: false
